<p>This Angular project simulates two CISCO switches.</p>

<h2>Features</h2>
<ul>
  <li>It models the Interconnecting Cisco Networking Devices, Part 2 (ICND2) exam .</li>
  <li>It runs on Node version 19.8.0.</li>
  <li>It uses Angular CLI version 1.0.0.</li>
  <li>It uses Angular version 4.4.7</li>
  <li>It uses Typescript version 4.9.5.</li>
  <li>The mustache@2.3.2 NPM library is used to render text templates with placeholders.</li>
  <ul>
    <li>The placeholders are replaced with values from the device model</li>
    <li>The device model is updated as commands are performed on each switch</li>
  </ul>
  <li>The multi-integer-range@4.0.0 NPM library is used to take a CISCO interface range and convert it to a numeric array.</li>
  <li>The event-dispatch@0.4.1 NPM library is used to dispatch events.</li>
  <li>The class-transformer@0.5.1 library is used to convert literal objects to class objects.</li>
</ul>
