<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SIMULATOR</a>
  <a [routerLink]="['/commands']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">COMMANDS</a>
  <a [routerLink]="['/sourcecode']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">SOURCE CODE</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
